
#dummyNorth {
    height:80px;
    width:550px;
    float:left;
}

#northHand {
    padding:42px;
    line-height:30px;
    background-color:lightyellow;
    color:red;
    height:80px;
    width:500px;
    float:left;
}

#westHand {
    line-height:30px;
    background-color:#eeeeee;
    height:320px;
    width:500px;
    float:left;
    clear:both
}

#cardPile {
    line-height:30px;
    width:600px;
    height:320px;
    background-color:lightgreen;
    float:left; 
}

.card {
	width:45px;
	height:60px;
	border-color:black;
	border-width:1px;
	border-style:solid;
}

	#northCard {
		text-align:center;
	}
	
	#westCard {
		text-align:left;
	}
	
	#eastCard {
		text-align:right;
	}
	
	#southCard {
		text-align:center;
	}

#eastHand {
    line-height:30px;
    width:500px;
    height:320px;
    background-color:lightblue;
    float:left;
}

#dummySouth {
    height:80px;
    width:550px;
    float:left;
    clear:both;
}

#southHand {
    line-height:30px;
    width:500px;
    height:80px;
    background-color:pink;
    float:left;
}

#dummyMessages {
    height:60px;
    width:300px;
    float:left;
    clear:both;
}

#messages {
    background-color:black;
    color:white;
    text-align:center;
    line-height:20px;
    width:1000px;
    height:60px;
    float:left; 
}
